* {
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.fondo {
    background-image: url(../images/fondo4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #11121e;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 30px;
    height: 100vh;
}

img {
    position: absolute;
    top: 430px;
    width: 14%;
    height: auto;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    display: block;
}

.form-heading {
    color: #fff;
    font-size: 23px;
}

.panel h2 {
    color: #444444;
    font-size: 26px;
    margin: 0 0 8px 0;
}

.panel p {
    color: #777777;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 24px;
}
.btn-foto{
    text-align: left;
}
.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    /* width: 50%; */
    max-width: 430px;
    padding:20px;
    margin: 0 10px;
}
.custom-control{
    text-align: left;
}
.login-div {
    max-width: 330px;
    width: 80%;
    margin: 0 auto;
}

.forgot a {
    color: #777777;
    font-size: 16px;
    text-decoration: underline;
}

/* .login-form .btn.btn-primary {
    background: #004085 none repeat scroll 0 0;
    border-color: #0954a5;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
} */

.forgot {
    text-align: left;
    margin-bottom: 30px;
    padding-top: 20px;
}
.error {
    color: red;
    font-size: 11px;
}
.file_control {
    margin-bottom: 10px;
}

@media (max-width:700px) {
    img {
        height: 600px;
    }
}