* {
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}
.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    height: 100vh;
    background-color: #ffffff;
  }
 
.logo-svg{
    width:auto;
    height:30px;
    filter: invert(1);
    margin-right: 3px;
}
#name-grower{
    transition-duration: 2s;
    filter: blur(0px);
    font-size: 22px;
    color: white;
    font-weight: 500;
}
.icon_menu{
    filter: invert(45%);
    height: 2em;
}
.text-icon{
    font-size: 0.6rem;
    color: gray;
    text-align: center;
    margin-bottom: 0;
}
.footer{
    background-color: #e7e7ea;
    height: 70px;
    position: fixed;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.lamp{
    height: 80px;
}
.contenedor-fecha {
    background-color: rgba(150, 150, 150, 0.5);
    z-index: 20;
}
h1, h3, h5{
    font-family: 'Quicksand', sans-serif;
}

.texto{
    margin-bottom: 5px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
}


img.img-fondo {
    min-width: 750px;
    height: auto;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    display: block;
}


canvas{
    height: 400px;
}

.estado {
    color: rgb(73, 161, 61);
    font-size: 17px;
    margin:0 auto;
    width: 100%;
    text-align: center;
}

.contenedor-usuario {
    position: relative;
    color: white;
    width: fit-content;
    display: flex;
    justify-content: space-around;
}
.card-deck{
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-footer{
    padding: .4rem 1.25rem;
    /* background-color: #81ea93ba; */
}
.card-text{
    margin-bottom: 0;
    color: #40474e;
}
.card-title{
    margin-bottom: 5px;
}
.card-subtitle{
    margin-bottom: 5px;
}
.card-value{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
}
.card-body{
    padding: 0.4rem; 
}
.card_{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow_ {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img-temp{
    width:40px;
    margin-left: 10px;
}
#img-hum{
    width:48px;
    margin-left: 10px;
}
#img-soil{
    height: 48px;
    margin-left: 10px;
}
.chart-container{
    margin: auto;
    width: 100%;
    height: 60vw;
}
.user-icon{
    font-size: 28px;
}
.usuario {
    color: #ffffffe0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.chart{
    background-color: white;
}
.height-bar{
    height: 70px;
}

.out-container {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding-top: 5px;
    padding-bottom: 15px;
}

.hidden{
    display: none;
}
.error{
    color: red;
}
.program-selector-bundle{
    background-color: #bbbbbb2e;
    
}
.out-bundle{
    /* background-color: #a6a8ab4d; */
}
.border_1{
    box-shadow: 1px 1px 6px rgba(0,0,0,.09);
    border-radius: .25rem;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 0.25rem;
}
.edit{
    width: 20px;
    filter: contrast(0.1);
}
.icon-out{
    cursor: pointer;
    width: 28px;
    filter: contrast(0.1);
    margin-right:5px;
    margin-left:5px;
    margin-bottom: 5px;
    border: 1px solid #dee2e68a;
    border-radius: 0.25rem;
    padding: 2px;
}
.icon-out:first-child{
margin-right: 8px;
}
.icon-out:hover{
    filter: contrast(1);
    border: 2px solid #d6b3188a;
}